* {
    font-family: "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: auto;
}

h2 {
    color: #008080;
    font-size: 30px;
}

.header a {
    color: inherit; 
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas: 
        "content-wrapper content-wrapper"
        "hr hr"
        "info info"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding-top: 55px;
    margin: 0 auto;
    /* min-height: 100vh; */
    /* For login modal */
    position: relative;
    z-index: 0;
}

.content-wrapper {
    display: grid;
    grid-template-areas: "section profile";
    grid-template-columns: 1fr 1fr;
    grid-area: content-wrapper;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav div {
    display: flex;
    justify-content: space-between;
    height: 34px;
    gap: 0px;
}

.nav button{
    background-color: #FFFFFF;
    border: none;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

/* section {
    width: 100%;
    max-width: 1200px;
    max-height: 400px;
    grid-area: section;
    gap: 10px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0px 15px
} */

.spot-picture-container {
    grid-area: section;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 540px;
    max-height: 406px; 
    margin: 0 auto;
    top: -3px;
}

.img-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.spot-picture{
    width: 540px;
    height: 406px;
    object-fit: cover;
    display: block;
}

.spot-picture.hidden {
    opacity: 0;
}

.left-button, .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    border-radius: 18px;
    padding: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    z-index: 10;
}


.left-button {
    left: 10px;
    background-image: url("left_arrow_attract.png");
}

.right-button {
    right: 10px;
    background-image: url("right_arrow_attract.png");
}

.left-button:hover, .right-button:hover {
    opacity: 1;
}

.profile{
    grid-area: profile;
    display: flex;
    flex-direction: column;
    color: #666666;
    max-width: 600px;
    width: 100%;
    height: 400px;
}

.profile-name{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 10px 0;
}

.profile-cat{
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    padding: 10px 0;
}

.tour-booking {
    background-color: #E8E8E8;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.form-group-day {
    display: inline-block;
    vertical-align: middle;
    max-height: 35px;
}

.form-group-day > input[type="date"] {
    display: inline-block;
    width: 193px;
    height: 35px;
}

.form-group-time {
    border: none;
}

.form-group-time > input[type="radio"] {
    display: none;
}

.form-group-time > input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 22px;
}

.form-group-time > input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border: 2px solid white; 
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.form-group-time > input[type="radio"] + label::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 22px; 
    height: 22px;
    background-color: transparent; 
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.form-group-time > input[type="radio"]:checked + label::after {
    background-color: #448899; 
}

.tour-booking div {
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    margin-bottom: 20px;
}

.tour-booking p {
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    margin-bottom: 20px;
}
  
.tour-booking label {
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

.tour-booking span {
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    margin-bottom: 20px;
}

.tour-booking button {
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #448899;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tour-booking button:hover {
    background-color: #009090;
} 

.info{
    width: 100%;
    max-width: 1200px;
    grid-area: info;
    color: #666666;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 0 auto;
    padding: 20px;    
}

.info-description{
    padding: 10px 0;
}

.info-address-block, .info-transport-block{
    padding: 10px 0;
}

.info-address, .info-transport{
    padding: 10px 0;
}

.info-address-title, .info-transport-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
}

.footer {
    grid-area: footer;
    background-color: #757575;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    display: grid;
    place-items: center;
    height: 104px;
}

hr {
    grid-area: hr;
    border: none;
    max-width: 1200px;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    border: none;
    margin: 0 auto;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    max-width: 340px;
    height: 275px;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
    text-align: center;
    box-shadow: none;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    animation: fadeIn 0.5s; /* 淡入效果 */
    position: relative;
    margin-top: 80px;
    border-radius: 10px ;
}

.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    box-shadow: none; 
    background-color: #008080; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #008080;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #009090;
}

.modal-content p {
    font-size: 14px;
}

.modal-content p a {
    color: #008080;
}

.modal-content p a:hover {
    text-decoration: underline;
}


@media(max-width:1200px) and (min-width:601px){
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
    .List_spot {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:600px){
    :root {
        --scroll-width: 200px;
    }
    .main {
        grid-template-columns: 1fr
    }
    .List_spot {
        width: 100%;
        height: 100%;
    }
    .search {
        width: 285px;
        height: 46px;
    }
}
