{% extends 'home.html' %}

{% block title %}Scholarship Terms{% endblock %}

{% block content %}
<h1>獎助學金條款</h1>

<section class="scholarship-section">
    <h2>主旨</h2>
    <p>本社為謀社員福利，協助社員爭取更優秀成績，創造前途、服務社會為宗旨。</p>
</section>

<section class="scholarship-section">
    <h2>辦法</h2>
    <ol>
        <li>
            <h3>(一)經費來源</h3>
            <p>以會計科目56317『獎助學金』公益金科目做為社員就讀國中三年級、高中職、大專院校在學獎助學金之用。</p>
        </li>
        <li>
            <h3>(二)對象資格</h3>
            <p>
                本社學生社員：社員年資一年以上並按月儲蓄100元以上。限國內國中三年級生(含)以上至大專院校，每學期修習12學分(含)以上【大專院校4年級學生的每學期修習學分為9學分(含)以上】。不含夜補生及進修生及空中科技、研究所、社區大學之學位。
                <br>備註：大專院校4年級學生如不滿9學分可提出全額繳費證明。
            </p>
        </li>
        <li>
            <h3>(三)成績標準</h3>
            <p>每一學年度上、下學期之學業及操行平均成績為準，請附成績單正本。</p>
            <ul>
                <li>學業成績：</li>
                <ul>
                    <li>國三生：80分</li>
                    <li>高中職：75分</li>
                    <li>大專院校：80分</li>
                </ul>
                <li>操行成績：80分</li>
                <li>等第績分：(A-)以上</li>
                <li>ＧＰＡ：3.38(含)以上</li>
            </ul>
        </li>
        <li>
            <h3>(四)獎助學金金額</h3>
            <ul>
                <li>國中生每名新台幣1,000元，獎狀乙紙</li>
                <li>高中職每名新台幣1,200元，獎狀乙紙</li>
                <li>大專院校每名新幣1,500元，獎狀乙紙</li>
            </ul>
            <p>若各組申請合格人數超過經費預算，以成績高低為錄取標準</p>
        </li>
        <li>
            <h3>(五)申請手續</h3>
            <ol>
                <li>填具獎助學金申請書乙份</li>
                <li>檢附學年操行成績單(上、下學期)乙份</li>
            </ol>
            <p>申請期限：每年9月底止</p>
        </li>
        <li>
            <h3>(六)審核</h3>
            <p>教育金公益金委員會初審、理事會複審</p>
        </li>
        <li>
            <h3>(七)頒獎時間</h3>
            <p>隔年社員大會中頒發，須由學生本人或代理人到場領獎，大會當日未到場領獎者視同放棄。</p>
        </li>
        <li>
            <h3>(八)附則</h3>
            <ul>
                <li>凡經審查錄取之學生由本社個別通知並於大會時受獎。</li>
                <li>未錄取者不另行通知，原送申請書類，概不退還。</li>
                <li>本獎助學金申請辦法可視每年經費狀況及實際需要修訂之。</li>
                <li>本辦法若有未盡事宜，將由本社理事會議決後公佈。</li>
            </ul>
        </li>
    </ol>
</section>
{% endblock %}
